:root{
    /* COLOR SHEMA SITE */
    --primary-color: #f00;
    --secondry-color: #B79F84;
    --main-bg-color: #000;
    /* COLOR SHEMA SITE */

    /* FONTS FAMILY FOR SITE */
    --primary-font: 'Montserrat';
    --secondary-font: 'Marck Script'
     /* FONTS FAMILY FOR SITE */
}